<div class="container">
    <div class="row">
        <div class="col">
            <div mat-dialog-actions >
                <button class="close1"  mat-raised-button color="warn" (click)="onNoClick()">Close</button>
              </div>
<mat-card class="example-card">
    
    <mat-card-header class="header" >
        <img mat-card-image class="image" [src]='CPlayersDetails.playerImg' alt="image loading">
        <mat-card-title >{{CPlayersDetails.name}}</mat-card-title>
      </mat-card-header>
     
      <table class="player">
        <tr>
            <th>Date Of Birth &nbsp;&nbsp; : </th>
            <td colspan="2">{{CPlayersDetails.dateOfBirth}}</td>
        </tr>
        <tr>
            
            <th>Place Of Birth &nbsp;:</th>
            <td colspan="2">{{CPlayersDetails.placeOfBirth}}</td>
        </tr>
        <tr>
          <th>Plays for &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</th>
          <td colspan="2" >{{CPlayersDetails.country}}</td>
        </tr>
        <tr>
            <th> Role  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </th>
            <td colspan="2">{{CPlayersDetails.role}}</td>
          </tr>
        <tr>
            <th>Date Of Birth &nbsp;:</th>
            <td colspan="2" >{{CPlayersDetails.dateOfBirth}}</td>
             
        </tr>
        <tr>
            <th>Batting Style &nbsp; : </th>
            <td colspan="2">{{CPlayersDetails.battingStyle}}</td>
          </tr>
      
          <tr>
            <th>Bowling Style &nbsp;: </th>
            <td colspan="2">{{CPlayersDetails.bowlingStyle}}</td>
          </tr>
          <p style="display:block;text-align: center;margin-top:10px;letter-spacing: 2px;font-size: large;"><b><u> Statistics</u></b></p>
          <tr>
            
            <th>Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </th>
            <td colspan="2">{{CPlayerStatus}}</td>
          </tr>
          <tr>
            
            <th>Credits &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </th>
            <td colspan="2">{{CPlayerStatistics.credits}}</td>
          </tr>
          <tr>
            <th>hitsLimit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </th>
            <td colspan="2">{{CPlayerStatistics.hitsLimit}}</td>
          </tr>
          <tr>
            <th>hitsToday &nbsp;&nbsp;&nbsp;&nbsp;: </th>
            <td colspan="2">{{CPlayerStatistics.hitsToday}}</td>
          </tr>
          <tr>
            <th>Server &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </th>
            <td colspan="2">{{CPlayerStatistics.server}}</td>
          </tr>
          <tr>
            <th>queryTime &nbsp;&nbsp;: </th>
            <td colspan="2">{{CPlayerStatistics.queryTime}}</td>
          </tr>
          
    </table>
     
</mat-card>
</div>
</div>
</div>