<div class="login">
    <div class="center">
        <h1>Profile</h1>
        <form method="post">
            <div class="txt_field">
                <input
              
                name="userId"
                
                type="text" required id="saveId">
                <span></span>
                <label>User Id</label>
            </div>
            <div class="txt_field">
                <input
              
                name="password"
                type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="two">
                <input type="submit" value="Update">
                <input type="submit" value="Home" style="margin-left:10px;">
            </div>
            
            <div class="signup_link">
              <!-- Not a member?  <a routerLink="/register" >SignUp</a> -->
            </div>
        </form>
       
    </div>
    </div>
    
    