#title {
    color: white;
}

#one a {
    color: white;
}

#searchButton {
    color: black;
    background-color: rgb(42, 175, 227);
    font-size: larger;
}

#two {
    color: black;
    background-color: rgb(33, 189, 246);
}

.login {
    padding-left: 1%;
    display: flex;
}

#two {}

.bottom-border {
    border-bottom: 2px solid rgb(11, 146, 209);
}

.router {
    position: relative;
}