footer{
    width: 100%;
    height: 40px;
    background-color: rgb(44, 44, 44);
    padding: 10px;
    color:rgb(193, 246, 33);
    text-align: center;
    font-size: 10pt;
    position: relative;
    bottom: 0;
}